<%= render :partial => 'titulo' %>

<br />
<br />


<h2>Pesquisar existência de registros judiciais</h2> <br>
<br>
<br>
<b>Nome do reclamante:</b><br>
<%= render :partial => 'pesquisa' %>
<br>
<br>
<br>
<br>
<br>
<br>
<b><i><font size="1" color="red">*A pesquisa deverá ser feita através do nome ou partes do nome do reclamante.  </font></i></b><br>
<b><i><font size="1" color="red"> *Para pesquisar por outros parâmetros favor consultar possibilidade junto ao departamento de TI. </font></i></b><br>

